body {
  background-color: rgb(43, 44, 46);
  color: rgb(255, 136, 0);
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: larger;
}

h1 {
  padding-top: 40px;
  color: rgb(226, 136, 0);
  text-align: center;
  margin: 0;
}

h2 {
  margin: 0;
  color: rgb(155, 156, 156);
  text-align: center;
  font-size: 18px;
}

h3 {
  --color1: #62b455;
  --color2: #ffa0a0;
  --color3: #fe536a;
  --color4: #cccccc;
  --color5: #d2a032;
}
